/* 首页分类条展示 */
#category-bar{
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    background: #fff;
    border-radius: 8px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #e3e8f7;
    transition: 0.3s;
    width: 100%;
    justify-content: space-between;
}
  
  @media screen and (max-width: 768px){
    #category-bar{
      border-radius: 8;
    }
  }
  
  #category #category-bar{
    padding: 0;
    border: none;
  }
  
  #category a.category-bar-item.select a{
    display: none;
  }
  
  .category-in-bar{
    display: flex;
    white-space: nowrap;
  }
  
  .category-in-bar-tips{
    margin-right: 1rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .category-bar-items{
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
  }
  
  
  
  .category-bar-items::-webkit-scrollbar{
    display: none;
  }
  
  .category-bar-item a{
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    margin: 0 0.2rem;
    font-weight: bold;
    border-radius: 12px;
    color: #000;
  }
  
  .category-bar-item:hover a{
    background: #425AEF;
    color: #fff;
  }
  
  .category-bar-item.select a {
    background: #425AEF;
    color: #fff;
    border-radius: 8px;
  }
  
  .category-bar-more{
    margin-left: 1rem;
    font-weight: bold;
  }